################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Payment-Service/Payment-Service/appsettings.json

/Payment-Service/.vs
/.vs
